html{
    background-color: black;
}

div{
    text-align: center;
    margin-top: 5%;
}

img{
    border: 4px solid black;
    outline: 2px solid white;
    height: 50vh;
}

h1, h2{
    color: white;
    font-style: 'Libre Baskerville', 'Times New Roman', Serif;
}

h1 {
    font-size: 4em;
    margin: 10px 0px;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
}
