html{
    background-color: black;
}

div{
    text-align: center;
    margin-top: 10%;
}

img{
    border: 4px solid black;
    outline: 2px solid white;
}

h1, h2{
    color: white;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 6em;
    margin: 10px 0px;
}

h2 {
    font-size: 2em;
    margin-top: 10px;
}
